      body {
        background-color: #ededed !important;
        background-size: cover;
		color: #111 !important;
		font-size: 20px;
		font-family: Arial, Helvetica, sans-serif;
		text-align: justify !important;
		padding-left:1em;
      }
      header {
        background-color: transparent;
		font-size: 15px;
		text-align: left !important;
      }
	  a {
		padding-left:2em;
		font-size: 15px;
		white-space: pre-line !important;
	  }
	  a:hover {
	   text-decoration:none;
	  }	 
	  li {
		list-style-type: none;
	  }
	div#banner { 
	   position: absolute; 
	   top: 0; 
	   left: 0; 
	   background-color: #111;
	   color: #e5e5e5;	   
	   width: 100%;
	   text-align: left
	   margin: 0 auto; 
	   padding: 14px; 
	   border: 1px solid #000;
	   font-size:25px;
	   position: fixed; 
	 }