      body {
        background-color: #ededed !important;
        background-size: cover;
		color: #111 !important;
		font-size: 13px !important;
		font-family: Arial, Helvetica, sans-serif;
		/* text-align: justify !important; */
      }  
	  pre {
        background-color: #ededed !important;
        background-size: cover;
		border-style: none;
		color: #111 !important;
		font-size: 15px !important;
		font-family: Arial, Helvetica, sans-serif;
		text-align: justify !important;	 
		white-space: pre-wrap !important;
		word-wrap:break-word !important;
		border-collapse: collapse !important;
		word-break : normal !important;
		padding-left:14em !important;
		padding-right:14em !important;
	  }
	  code {
        background-color: #ededed !important;
		background: url('') no-repeat center center;
        background-size: cover;
		color: #111;
		font-size: 13px !important;
		font-family: monospace;
		text-align: justify !important;	 
		white-space: pre-wrap !important;
		word-wrap:break-word !important;  		
	  }	  
      header {
        background-color: #ededed !important;
		color: #111 !important;
		font-size: 15px !important;
		/* font-weight: bold; */
		text-align: justify !important;
		padding-left:14em;
		padding-right:10em;
      }
	  .key_word {
        background-color: #ededed !important;
		background: url('') no-repeat center center;
        background-size: cover;
		color: #111;
		font-size: 15px !important;
		font-family: monospace;
		text-align: justify !important;	 
		white-space: pre-wrap !important;
		word-wrap:break-word !important;
		border-collapse: collapse !important;
		word-break : normal !important; 	  
	  }
	  a {
	   font-size:30px;
	   color: #e5e5e5;
	  }
	  a:hover {
	   font-size:30px;
	   color: #e5e5e5;
	   text-decoration:none;
	  }	  
	div#banner { 
	   position: absolute; 
	   top: 0; 
	   left: 0; 
	   background-color: #111;
	   color: #e5e5e5;	   
	   width: 100%;
	   text-align: left
	   margin: 0 auto; 
	   padding: 14px; 
	   border: 1px solid #000;
	   font-size:25px;
	   position: fixed; 
	 }